.app-container {
    display: flex;
    flex-direction: column;

    height: 100%;

    > .body {
        display: flex;

        height: 100%;

        > .left {
            display: flex;
            flex-direction: column;

            width: 70%;
        }

        > .right {
            width: 30%;
        }
    }
}
