@import '../styles/variables.scss';

.container {
    .header {
        padding: 8px;

        background-color: #222222;
        color: #ffffff;

        :nth-child(1) {
            margin-bottom: 4px;
        }
    }

    .body {
    }
}
