@import './variables.scss';

html {
    height: 100%;
    min-width: 1024px;

    background-color: $background-color-pri;

    > body {
        height: 100%;
        min-width: 1024px;

        margin: 0;
        font-family: sans-serif;

        #root {
            height: 100%;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h4, h5, h6 {
    font-weight: normal;
}

a {
    text-decoration: none;
    color: $link-color-pri;
}

.sec-link {
    color: $link-color-sec;
}

// Outlines to debug CSS
* {
    outline: 1pt solid black;
}

section {
    outline: 1pt solid orange;
}

div {
    outline: 1pt solid darkred;
}

h1, h2, h3, h4, h5, h6 {
    outline: 1pt solid darkcyan;
}

a {
    outline: 1pt dashed darkcyan;
}
