$background-color-pri: #eeeef5;
$background-color-sec: #222222;

$font-color-pri: #020202;
$font-color-sec: #fdfdfd;

$link-color-pri: mix($font-color-pri, #0000ff, 75%);
$link-color-sec: mix($font-color-sec, #0000ff, 75%);
