@import '../../styles/variables.scss';

.control-panel {
    display: flex;

    margin: 0.25em;
    padding: 0.25em;

    border: $border-pri;

    h3 {
        border-bottom: $border-sec;
    }

    label {
        display: flex;
        align-items: center;

        height: 2em;

        > .label-text {
            min-width: 7em;
        }
    }

    select {
        width: 5em;
    }

    input[type=number] {
        width: 8em;
    }

    .data-line {
        display: flex;

        > :nth-child(n + 2) {
            margin-left: 2em;
        }
    }

    > .general {
        width: 35%;
    }

    > .model-data {
        width: 65%;
    }
}
