.form-field-data-line {
    display: flex;

    > :nth-child(n + 2) {
        margin-left: 1em;
    }

    > label {
        display: flex;
        align-items: center;

        height: 2em;
    }

    > .active {
        > .text {
            min-width: 6em;
        }
    }

    > .amount {
        > .text {
            min-width: 4em;
        }

        > input[type=number] {
            height: 0.9em;
            width: 8em;
        }
    }
}
